html
{
	background: #eeeeee;
}
h1
{	
	text-align: center;
}
.foto
{	
	text-align: center;
}
body
{
	width: 515px;
    height: 750px;
	margin: 4px 450px 45px 450px;
	padding: 50px;
    line-height: 1.2;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 2px -1px;
    }
ul
{
	  line-height: 1.5;
}
a.vk
{
	color: #0000ee;
}
img 
{
	height: 130px;
	width: 135px;
	font-size: 100%;
}

div{
	margin-top: 20px;
}


