html{
    background: #eee;
}
body{
    font: 15px/20px serif;
    width: 515px;
    margin: 4px auto 45px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 3px 2px #CBCBCB;
}
h1{
    text-align: center;
}
.work{
    padding: 15px 15px ;
    text-align: left;
    }
div{
    border-top: 1px solid black;
    padding: 15px 15px; 
}
ul{
    line-height: 1.5;
}
.foto{	
    text-align: center;
}
a.vk{
    color: #0000ee;
}

