html{
    background: #eeeeee;
}
body{
    font-size: 20px;
    font-style: normal;
    width: 515px;
    height: auto;
    margin: 4px auto 45px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 16px -4px;
}
h1{
    margin: 0 auto;
    text-align: center;
}
span{
        padding: 15px 15px ;
        margin: 0px auto;
}
div{
    border-top: 1px solid black;
    padding: 15px 15px;   
}
img{
    height: 140px;
}
ul{
    line-height: 1.5;
}
.foto{	
    text-align: center;
}
a.vk{
    color: #0000ee;
}

