body{
	background: #f9f9f9;
	font: 13px/21px Myriad Pro;
	color: #2c2c2c;
}
a{
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
/*WRAPPER*/
.wrapper{
	width: 968px;
	margin: 0px auto;
	padding: 0px 45px;
	box-shadow: 0 0 4px 2px #dbdbdb;
	background-color: #FFF;
	overflow:hidden;
}
/*HEADER*/
.header{
	padding-top: 50px;
	margin-bottom: 40px;
}
.menu{
	height: 40px;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
 	background: rgb(76,76,76); /* Old browsers */
background: -webkit-linear-gradient(rgb(76,76,76) 0%, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(0,0,0) 51%, rgb(17,17,17) 60%, rgb(43,43,43) 76%, rgb(28,28,28) 91%, rgb(19,19,19) 100%);
background: -o-linear-gradient(rgb(76,76,76) 0%, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(0,0,0) 51%, rgb(17,17,17) 60%, rgb(43,43,43) 76%, rgb(28,28,28) 91%, rgb(19,19,19) 100%);
background: linear-gradient(rgb(76,76,76) 0%, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(0,0,0) 51%, rgb(17,17,17) 60%, rgb(43,43,43) 76%, rgb(28,28,28) 91%, rgb(19,19,19) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.menu li{
	list-style: none;
	float: left;
}
.menu a{
	padding-left: 30px;
	padding-right: 30px;
	color:#fff;
	display: block;
	font: 15px/37px Myriad Pro;
	border: 1px solid transparent;
}
.menu a:hover{
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	background-color: #474747;
}
/*MAIN*/
.main{
	width: 100%;
	overflow: hidden;
}
/*SIDEBAR*/
.sidebar{
	width: 240px;
	float: left;
}
.sidebar li{
	list-style: none;
	border: 1px solid #c8c8c8;
	border-top: 0px;
}
.sidebar-menu{
	padding: 0px;
	margin: 0px;
}
.sidebar-menu li:first-child{
	border-top: 1px solid #c8c8c8;
}
.sidebar-menu a{
	padding-left: 25px;
	color: #656363;
	line-height: 40px;
	display: block;
}
.sidebar-menu a:hover{
	background: #f9f9f9;
	padding-left: 40px;	
}
/*CONTENT*/
.content{
	width: 680px;
	float: right;
}
.item-image{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border: 1px solid #c8c8c8;
}
.text{
	padding-left: 25px;
	padding-top: 40px;
}
/*FOOTER*/
.footer{
	height: 40px;
	width: 968px;
	margin: 60px 0;
	position: relative;
	background: #e1e1e1;
}
.footer-menu{
	line-height: 40px;
	margin: 0px;
	width: 60%;
	overflow: hidden;
	float: left;
}
.footer-menu li{
	padding-left: 25px;
	padding-right: 25px;
	display: inline;
}
.footer p{	
	width: 17%;
	float: right;
	font:13px/39px Myriad Pro;
	padding: 0px;
	margin: 0px;
}
.footer-menu a{
	color: #2c2c2c;
}
.footer-menu a:hover{
	text-decoration: underline;
}

