body{
	background: #f9f9f9;
	font: 13px/21px Myriad Pro;
	color: #2c2c2c;
}
a{
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
/*WRAPPER*/
.wrapper{
	width: 968px;
	margin: 0px auto;
	padding: 0px 45px;
	box-shadow: 0 0 4px 2px #dbdbdb;
	background-color: #FFF;
	overflow:hidden;
}
/*HEADER*/
.header{
	padding-top: 50px;
	margin-bottom: 40px;
}
.menu{
	height: 40px;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+0,595959+26,494848+77,444343+100 */
background: rgb(94,94,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(89,89,89,1) 26%, rgba(73,72,72,1) 77%, rgba(68,67,67,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(26%,rgba(89,89,89,1)), color-stop(77%,rgba(73,72,72,1)), color-stop(100%,rgba(68,67,67,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(89,89,89,1) 26%,rgba(73,72,72,1) 77%,rgba(68,67,67,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(89,89,89,1) 26%,rgba(73,72,72,1) 77%,rgba(68,67,67,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(89,89,89,1) 26%,rgba(73,72,72,1) 77%,rgba(68,67,67,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(89,89,89,1) 26%,rgba(73,72,72,1) 77%,rgba(68,67,67,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444343',GradientType=0 ); /* IE6-9 */

}
/*MENU*/
.menu li{
	list-style: none;
	float: left;
}
.menu a{
	padding-left: 30px;
	padding-right: 30px;
	color:#fff;
	display: block;
	font: 15px/37px Myriad Pro;
	border: 1px solid transparent;
}
.menu a:hover{
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b4b4b+0,464646+23,333333+77,2e2e2e+100 */
background: rgb(75,75,75); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(75,75,75,1) 0%, rgba(70,70,70,1) 23%, rgba(51,51,51,1) 77%, rgba(46,46,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,1)), color-stop(23%,rgba(70,70,70,1)), color-stop(77%,rgba(51,51,51,1)), color-stop(100%,rgba(46,46,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(70,70,70,1) 23%,rgba(51,51,51,1) 77%,rgba(46,46,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(70,70,70,1) 23%,rgba(51,51,51,1) 77%,rgba(46,46,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(70,70,70,1) 23%,rgba(51,51,51,1) 77%,rgba(46,46,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(75,75,75,1) 0%,rgba(70,70,70,1) 23%,rgba(51,51,51,1) 77%,rgba(46,46,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */
}
/*MAIN*/
.main{
	width: 968px;
	overflow: hidden;
}
/*SIDEBAR*/
.sidebar{
	width: 240px;
	float: left;
}
.sidebar li{
	list-style: none;
	border: 1px solid #c8c8c8;
	border-top: 0px;
}
.sidebar-menu{
	padding: 0px;
	margin: 0px;
}
.sidebar-menu li:first-child{
	border-top: 1px solid #c8c8c8;
}
.sidebar-menu a{
	padding-left: 25px;
	color: #656363;
	line-height: 40px;
	display: block;
}
.sidebar-menu a:hover{
	background: #f9f9f9;
	padding-left: 40px;	
}
/*CONTENT*/
.content{
	width: 680px;
	float: right;
}
.item-image{
	padding: 50px 0px 50px 0px;
	text-align: center;
	border: 1px solid #c8c8c8;
}
.text{
	padding-left: 25px;
	padding-top: 40px;
}
/*FOOTER*/
.footer{
	height: 40px;
	margin: 60px 0;
	background: #e1e1e1;
}
.footer-menu{
	padding:0px;
	line-height: 40px;
	margin: 0px;
	width: 600px;
	float: left;
}
.footer-menu li{
	padding-left: 25px;
	padding-right: 25px;
	display: inline;
}
.footer p{	
	width: 170px;
	float: right;
	font:13px/39px Myriad Pro;
	margin: 0px;
}
.footer-menu a{
	color: #2c2c2c;
}
.footer-menu a:hover{
	text-decoration: underline;
}

